@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --background-soft: 0 0% 95%;
        --foreground: 0 0% 5%;
        --foreground-soft: 0 0% 10%;
        --primary: 37 84% 64%;
        --primary-foreground: 200 7% 8%;
        --emphasis: var(--primary);
        --emphasis-soft: var(--primary)/80;
        --on-emphasis: var(--primary-foreground);
        --on-emphasis-soft: var(--primary-foreground)/80;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    a {
        @apply hover:text-emphasis transition underline break-words;
        word-break: break-word;
    }

    a img {
        @apply hover:brightness-95 active:brightness-90 transition ;
    }

    input[type="text"], input[type="email"] {
        @apply w-full rounded-md border-none ring-1 ring-foreground-soft/20 px-3.5 py-2 bg-background-soft text-foreground shadow-sm ring-inset hover:ring-1 hover:ring-foreground-soft/80 placeholder:text-foreground-soft/80 focus:ring-2 focus:ring-inset focus:ring-emphasis sm:text-sm sm:leading-6 transition;
    }

    input[type="checkbox"] {
        @apply h-5 w-5 shrink-0 rounded-sm border border-emphasis accent-emphasis text-emphasis shadow hover:ring-1 hover:ring-emphasis/50 focus:outline-none focus:ring-1 focus:ring-emphasis disabled:cursor-not-allowed disabled:opacity-50;
    }

    textarea {
        @apply w-full rounded-md border-none ring-1 ring-foreground-soft/20 px-3.5 py-2 bg-background-soft text-foreground shadow-sm ring-inset hover:ring-1 hover:ring-foreground-soft/80 placeholder:text-foreground-soft/80 focus:ring-2 focus:ring-inset focus:ring-emphasis sm:text-sm sm:leading-6 transition;
    }
}

@layer utilities {
    .flex-center {
        @apply justify-center items-center;
    }
}

.title-lg {
    @apply font-serif text-4xl font-bold text-foreground sm:text-6xl sm:leading-[1.05em];
}

.title {
    @apply font-serif text-2xl font-bold text-foreground sm:text-4xl;
}

.subtitle {
    @apply text-lg leading-8 text-foreground-soft;
}

.gradient-heading {
    @apply bg-clip-text text-transparent box-decoration-clone;
    @apply bg-gradient-to-r;
    @apply from-emphasis to-emphasis;
}

.grecaptcha-badge {
    visibility: hidden !important;
}
